<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
  <section class="section">
    <div class="container">
      <h1 class="title">
        {{ title }}
      </h1>
      <p class="subtitle">
        {{ subtitle }}
      </p>

      <ul>
        {% for id in monitor_ids %}
        <li>
          <a href="/metrics/{{ id }}">
            View Metrics for {{ id }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  </body>
</html>
